<div class="dialog">
  <h5 style="text-align: center;">Change Password</h5>
  <form [formGroup]="passwordFormGroup">
    <mat-form-field
      class="full-width"
      *ngFor="let input of passwordFormData.inputs"
    >
      <mat-label>{{ input.label }}</mat-label>

      <input
        *ngIf="input.type === 'password'"
        matInput
        type="password"
        [formControlName]="input.formControlName"
      />
    </mat-form-field>

    <div mat-dialog-actions>
      <button
        mat-raised-button
        color="warn"
        cdkFocusInitial
        (click)="onDismissForm()"
      >
        Cancel
      </button>
      <button
        mat-raised-button
        color="primary"
        [disabled]="!passwordFormGroup.valid"
        (click)="onChangePassword()"
      >
        Change Password
      </button>
    </div>
  </form>
</div>
