<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Account
    </ion-title>

    <ion-buttons [slot]="'end'">
      <ion-buttons (click)="onOpenSettings()" size="large"
        ><ion-icon name="settings-outline" size="large"></ion-icon>
      </ion-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Account</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-content>
      <ion-avatar>
        <img class="account-svg" src="assets/user.svg" />
      </ion-avatar>
      <ion-list>
        <ion-item
          ><ion-text
            >Name: {{ (currentUser$ | async).username }}</ion-text
          ></ion-item
        >
        <ion-item
          ><ion-text
            >Role: {{ (currentUser$ | async).roles }}</ion-text
          ></ion-item
        >
        <ion-item
          ><ion-text
            >DeviceID: <br /><small
              >{{ (currentUser$ | async).device }}</small
            ></ion-text
          ></ion-item
        >
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-menu side="end" type="push" contentId="main">
    <ion-header>
      <ion-toolbar color="danger">
        <ion-title>End Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item (click)="onEditAccount($event)"
          ><ion-icon name="create-outline"></ion-icon>&nbsp;&nbsp;Edit
          User</ion-item
        >
        <ion-item (click)="onChangePassword($event)"
          ><ion-icon name="lock-closed-outline"></ion-icon>&nbsp;&nbsp;Change
          Password</ion-item
        >
        <ion-item (click)="presentAlertConfirm()"
          ><ion-icon name="power-outline"></ion-icon
          >&nbsp;&nbsp;Logout</ion-item
        >
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main"></ion-router-outlet>
</ion-content>
