<div class="setting-menu">
  <a mat-menu-item (click)="openUserInfo()">
    <mat-icon>person</mat-icon>
    <span>Account Info</span>
  </a>
  <a routerLink="/auth/register-user" mat-menu-item>
    <mat-icon>person_add</mat-icon>
    <span>Add User</span>
  </a>
  <a routerLink="/auth/register-role" mat-menu-item>
    <mat-icon>group_add</mat-icon>
    <span>Add User Role</span>
  </a>
  <a routerLink="/auth/change-password" mat-menu-item>
    <mat-icon>lock</mat-icon>
    <span>Change Password</span>
  </a>
</div>
