<!-- toolbar -->
<mat-toolbar color="primary">
  <mat-icon class="mat-menu-icon" (click)="drawer.toggle()">menu</mat-icon>
  <span>Soil Analysis System</span>
</mat-toolbar>

<!-- contents -->
<mat-sidenav-container class="sidenav-container">
  <!-- left sidenav -->
  <mat-sidenav #drawer opened mode="side" class="side-menu">
    <div class="user-container">
      <img class="user-icon" src="assets/icons/icon-user.svg" />
      <div>{{ user.username }}</div>
      <small>{{ user.role }}</small>
      <hr />
    </div>

    <div class="navigations">
      <div class="nav-link">
        <a [routerLink]="['dashboards']" routerLinkActive="active">
          Dashboard</a
        >
      </div>
      <div class="nav-link">
        <a [routerLink]="['users']" routerLinkActive="active"> User | Device</a>
      </div>
      <div class="nav-link" (click)="onLogout($event)">
        Logout
      </div>
    </div>
  </mat-sidenav>

  <!-- main content -->
  <div class="home-container">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
