<!-- toolbar -->
<mat-toolbar color="primary" class="sticky">
  <span>Soil Analysis System</span>
</mat-toolbar>

<!-- contents -->
<mat-sidenav-container
  class="sidenav-container"
  *ngIf="currentUserLoaded$ | async"
>
  <!-- left sidenav -->
  <mat-sidenav opened mode="side" class="side-menu">
    <div class="user-container">
      <img class="user-icon" src="assets/icons/icon-user.svg" />
      <div *ngIf="currentUserLoaded$ | async">
        <div>{{ (currentUser$ | async).username }}</div>
        <small>{{ (currentUser$ | async).roles }}</small>
      </div>

      <div *ngIf="currentUserLoading$ | async">
        <div>Username loading ...</div>
        <small>User role loading ...</small>
      </div>
      <hr />
    </div>

    <div class="navigations">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['dashboards']"
            routerLinkActive="active"
          >
            Dashboard</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['users']"
            routerLinkActive="active"
            *ngIf="(currentUser$ | async).roles | access"
          >
            User | Device</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="showDropdown = !showDropdown">
            Settings</a
          >
        </li>
        <li
          class="nav-item dropdownCustomized"
          (click)="onLogout($event)"
          *ngIf="showDropdown"
        >
          <a class="nav-link">Change Password</a>
        </li>
        <li
          class="nav-item dropdownCustomized"
          (click)="onLogout($event)"
          *ngIf="showDropdown"
        >
          <a class="nav-link">Logout</a>
        </li>
      </ul>
    </div>
  </mat-sidenav>

  <!-- main content -->
  <div class="home-container">
    <router-outlet
      *ngIf="
        !(
          (userLoading$ | async) ||
          (deviceLoading$ | async) ||
          (resultsLoading$ | async)
        )
      "
    ></router-outlet>
    <mat-progress-spinner
      *ngIf="
        (userLoading$ | async) ||
        (deviceLoading$ | async) ||
        (resultsLoading$ | async)
      "
      style="margin: 30vh auto;"
      mode="indeterminate"
    ></mat-progress-spinner>
  </div>
</mat-sidenav-container>
