<!-- tool bar -->
<mat-toolbar>
  <mat-toolbar-row>
    <span>Home</span>
    <span class="toolbar-spacer"></span>
    <button id="toolbar-button" (click)="drawer.toggle()">
      <mat-icon class="toolbar-icon" aria-hidden="false" aria-label="User"
        >settings</mat-icon
      >
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<!-- contents -->
<mat-sidenav-container class="sidenav-container">
  <!-- left sidenav -->
  <mat-sidenav opened mode="side">
    <div class="location-tree">
      Location Tree
    </div>
  </mat-sidenav>

  <!-- right sidenav -->
  <mat-sidenav #drawer mode="side" position="end">
    <h4 class="settings-menu">Settings Menu</h4>
    <app-setting-menu></app-setting-menu>
  </mat-sidenav>

  <!-- main content -->
  <div class="home-container">
    <h3>Dashboards Here</h3>
  </div>
</mat-sidenav-container>
