mat-toolbar {
  background-color: #1d5288;
  color: #fff;
  border: 1px solid #1d5288;
}

.toolbar-icon {
  // padding: 0 14px;
  color: #fff;
}

#toolbar-button {
  background: transparent;
  border: none;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.sidenav-container {
  min-height: 90vh;
}

.location-tree {
  text-align: left;
  min-width: 15vw;
}

.settings-menu {
  min-width: 20vw;
}

.home-container {
  text-align: center;
}
