<div class="dashboard-container">
  <div class="row main-graph">
    <div class="col-12 col-md-8">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, odio animi
        hic temporibus magnam sed velit aperiam, repellat fugit repellendus,
        voluptates consectetur quidem architecto et. Beatae fuga provident
        tempore mollitia!
      </p>
    </div>
    <div class="col-12 col-md-4">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate amet
        maxime reprehenderit magni corporis eligendi odit.
      </p>
    </div>
  </div>

  <div class="row summary-graph">
    <div class="col-12 col-md-4">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate amet
        maxime reprehenderit magni corporis eligendi odit.
      </p>
    </div>
    <div class="col-12 col-md-4">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate amet
        maxime reprehenderit magni corporis eligendi odit.
      </p>
    </div>
    <div class="col-12 col-md-4">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate amet
        maxime reprehenderit magni corporis eligendi odit.
      </p>
    </div>
  </div>

  <div class="row table-chart-container">
    <div class="col-12 col-md-7">
      <app-data-table [dataSource]="results"></app-data-table>
    </div>
    <div class="col-12 col-md-5">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate amet
        maxime reprehenderit magni corporis eligendi odit.
      </p>
    </div>
  </div>
</div>
