<div
  *ngIf="userLoading$ | async"
  style="text-align: center; margin: 40vh auto;"
>
  <div>
    <ion-spinner name="bubbles"></ion-spinner>
  </div>
  <div>Loading current user...</div>
</div>
<ion-tabs *ngIf="!(userLoading$ | async)">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="history">
      <ion-icon name="newspaper-outline"></ion-icon>
      <ion-label>History</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="analysis">
      <ion-icon name="stats-chart-outline"></ion-icon>
      <ion-label>Analysis</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="account">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Account</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
