<app-toolbar></app-toolbar>
<div class="form-container">
  <img id="logo" src="assets/logo.png" alt="logo" />
  <h4 style="text-align: center;">Change Password</h4>
  <form
    [formGroup]="passwordForm"
    (ngSubmit)="onChangePassword(passwordForm.value)"
  >
    <div class="inputs-container" *ngFor="let input of passwordFormData.inputs">
      <div class="inputs" *ngIf="input.type === 'password'">
        <mat-form-field>
          <mat-label>{{ input.label }}</mat-label>
          <input
            matInput
            [formControlName]="input.formControlName"
            id="name"
            type="password"
          />
        </mat-form-field>
      </div>
    </div>
    <button [disabled]="!passwordForm.valid" mat-raised-button class="button">
      Change Password
    </button>
  </form>
</div>
