<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="defaultHref"></ion-back-button>
      <ion-title>Change Password</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="passwordFormGroup" (ngSubmit)="onChangePassword()">
    <ion-item *ngFor="let input of passwordFormData.inputs">
      <ion-label position="floating">{{ input.label }}</ion-label>
      <ion-input
        *ngIf="input.type === 'password'"
        [formControlName]="input.formControlName"
        type="password"
      ></ion-input>
    </ion-item>
    <ion-button
      type="submit"
      size="small"
      expand="full"
      fill="solid"
      color="primary"
      [disabled]="!passwordFormGroup.valid && allowButton"
    >
      Change Password
    </ion-button>
  </form>
</ion-content>
