<div class="form-container">
  <div class="logo-container">
    <img id="logo" src="assets/logo.png" alt="logo" />
  </div>
  <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit(loginForm.value)">
    <div class="inputs-container" *ngFor="let input of loginFormData.inputs">
      <div class="inputs" *ngIf="input.type === 'text'">
        <mat-form-field>
          <mat-label>{{ input.label }}</mat-label>
          <input
            matInput
            [formControlName]="input.formControlName"
            id="name"
            type="text"
          />
        </mat-form-field>
      </div>

      <div class="inputs" *ngIf="input.type === 'password'">
        <mat-form-field>
          <mat-label>{{ input.label }}</mat-label>
          <input
            matInput
            [formControlName]="input.formControlName"
            id="name"
            type="password"
          />
        </mat-form-field>
      </div>
    </div>
    <div class="button-container">
      <button
        class="login-button"
        [disabled]="!loginForm.valid"
        mat-raised-button
        color="primary"
        class="button"
      >
        Login
      </button>
    </div>
    <!-- <mat-hint class="hint"
      >Forgot you password? <a href="###">Click here</a></mat-hint
    > -->
  </form>
</div>
