<form [formGroup]="CustomFormGroup" (ngSubmit)="generateChart()">
  <mat-card>
    <mat-card-header style="font-size: 14px;">Filter</mat-card-header>
    <mat-card-content>
      <mat-form-field
        class="full-width"
        *ngFor="let input of customGraphFormData.inputs"
      >
        <mat-label>{{ input.label }}</mat-label>

        <input
          *ngIf="input.type === 'text'"
          matInput
          type="text"
          [formControlName]="input.formControlName"
        />

        <input
          *ngIf="input.type === 'email'"
          matInput
          [formControlName]="input.formControlName"
          placeholder="Ex. email@example.com"
        />

        <mat-select
          [formControlName]="input.formControlName"
          *ngIf="input.type === 'select' && input.multiple"
          multiple
        >
          <mat-option
            *ngFor="let option of input.options"
            value="{{ option.value }}"
            >{{ option.label }}</mat-option
          >
        </mat-select>

        <mat-select
          [formControlName]="input.formControlName"
          *ngIf="input.type === 'select' && !input.multiple"
        >
          <mat-option
            *ngFor="let option of input.options"
            value="{{ option.value }}"
            >{{ option.label }}</mat-option
          >
        </mat-select>

        <div *ngIf="input.type === 'date'">
          <input
            matInput
            type="date"
            [formControlName]="input.formControlName"
          />
        </div>
      </mat-form-field>
    </mat-card-content>

    <mat-card-actions>
      <button
        type="submit"
        mat-raised-button
        [disabled]="!CustomFormGroup.valid"
        color="primary"
      >
        Plot Graph
      </button>
    </mat-card-actions>
  </mat-card>
</form>
