.login-container {
  height: 400px;
  width: 500px;
  margin: 0 auto;
}

#logo {
  height: 130px;
  width: auto;
  position: relative;
  margin: 0 33%;
}

mat-form-field,
.button {
  width: 400px;
}

.button {
  margin: 0 auto;
  margin-left: 10%;
}

.inputs-container {
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.inputs {
  margin: 0 auto;
}

.button {
  background-color: #1d5288;
  color: #fff;
  border: 1px solid #1d5288;
}
